---
title: 'GORUCO Go-Codes'
meta: Discount codes for GORUCO attendees.
---

h1 GORUCO Discounts

section
p With huge thanks to O'Reilly, Manning, No Starch Press, and Wiley publishers, we are able to offer GORUCO attendees some great discounts on books and videos from these great publishers. We also have a great offer from CitiBike for new members too!
ul
  li
    h2 CitiBike
    p  GORUCO attendees, here is a special offer to get a <strong>FREE</strong> month of Citi Bike when you sign up for an annual membership now. Citi Bike is perfect for easy short trips, the perfect go-to for you when you don't want to schlep your bike up and down your NYC apartment stairs, or when you only want to bike one-way. Sign up by June 30 using code gorucorides and take advantage of this limited time offer at <a href="https://member.citibikenyc.com/offers/13monthfree?promotion=goruco">citibikenyc.com</a>
  li
    h2 Manning
    p  Discount code <strong>ctwgoruco</strong> good for 41% off all Manning books at <a href="http://www.manning.com/"><strong>manning.com</strong></a>
  li
    h2 No Starch Press
    p  No Starch Press publishes the finest in geek entertainment; innovative, handcrafted bestsellers on topics that nerds of all ages care about. Their books tackle the latest in programming, open source, computer security, kids coding, science, math, and LEGO®. Use code <strong>GORUCO15</strong> for 30% off any book at <a href="https://www.nostarch.com/"><strong>nostarch.com</strong></a>. Code expires 6/24/15.
  li
    h2 O'Reilly
    p Coupon Code <strong>PCBW</strong> good for 40% off most print and 50% off most ebooks and videos on <a href="http://shop.oreilly.com/"><strong>shop.oreilly.com</strong></a>
  li
    h2 Wiley
    p  30% discount on <a href="http://www.wrox.com/WileyCDA/WroxTitle/Professional-Swift.productCd-1119016770.html">Professional Swift</a> and <a href="http://www.wrox.com/WileyCDA/WroxTitle/Professional-AngularJS.productCd-1118832078.html"><strong>Professional AngularJS</strong></a> when ordering through <a href="http://www.wiley.com/"><strong>wiley.com</strong></a>. Use discount code <strong>VBK44</strong> when ordering. Valid until September 1, 2015.
