---
title: 'GORUCO Live!'
meta: Live feed for the conference.
---

h1 GORUCO Live
p
  'Watch GORUCO 2014 here live.

p
  object#live_embed_player_flash bgcolor="#000000" data="http://www.justin.tv/swflibs/JustinPlayer.swf?channel=confreaks" height="345" type="application/x-shockwave-flash" width="600" 
    param name="allowFullScreen" value="true" /
    param name="allowScriptAccess" value="always" /
    param name="allowNetworking" value="all" /
    param name="movie" value="http://www.justin.tv/swflibs/JustinPlayer.swf" /
    param name="flashvars" value="hostname=www.justin.tv&channel=confreaks&auto_play=false&start_volume=25" /


