meta charset="utf-8"
meta http-equiv="X-UA-Compatible" content="IE=edge"
title = current_page.data.title
meta name="description" content="GORUCO is a one-day technical conference aimed at highly motivated programmers."
meta name="viewport" content="width=device-width, initial-scale=1"

/ Place favicon.ico and apple-touch-icon.png in the root directory.
link rel="shortcut icon" href="favicon.ico"
= stylesheet_link_tag 'app'
link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet'

script src="//use.typekit.net/pqv1nxy.js" type="text/javascript"
javascript:
  try{Typekit.load();}catch(e){}
