/ script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js'
/ script src='/assets/javascripts/map.js'
script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDai1izMb4HIpG36Ovpfvf7b8D8w1K8xWk"
script src='/assets/javascripts/google_map.js'
